#title {
  
  padding: 1em;
  color: white;
  background-color: lightpink;
  clear: left;
  text-align: center;
  border: 2px solid black;
}

#one {
  border: 1px solid black;}
#two {
  border: 1px solid black;}
#three {
  border: 1px solid black;}
#four {
  border: px solid black;}
#five {
  border: 2px solid black;}
#six {
  border: 2px solid black;}
#seven {
  border: 2px solid black;}
#eight {
  border: 2px solid black;}
#nine {
  border: 2px solid black;}