#title {
  
  padding: 1em;
  color: white;
  background-color: lightpink;
  clear: left;
  text-align: center;
  border: 2px solid black;
}

#one {
  border: 2px solid black;
}

#two {
  border: 2px solid black;
}
#three {
  padding: .2em;
  border: 2px solid black;
}
#four {
  padding: .2em;
  border: 2px solid black;
}
#five {
  padding: .2em;
  border: 2px solid black;
}