#title {
  
  padding: 1em;
  color: white;
  background-color: lightpink;
  clear: left;
  text-align: center;
  border: 2px solid black;
}
#firstheader {
  border: 2px solid black;}
#secondheader{
  border: 2px solid black;}
#thirdheader{
  border: 2px solid black;}
#1 {
  border: 1px solid black;
  padding: 6.5em;}
#2 {
  border: 1px solid black;
  padding: 6.5em;}
#three {
  border: 1px solid black;}
#four {
  border: 1px solid black;}
#five {
  border: 1px solid black;}
#six {
  border: 1px solid black;}
#console-log-example{
  border: 1px solid black;}
#function-example{
  border: 1px solid black;}
#nine {
  border: 1px solid black;}